.buttoncontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  gap: 40px;
}

.button {
  width: 100%;
  color: azure;
  background-color: lightblue;
  border: 1px solid grey;
}
